<a href="https://colab.research.google.com/github/ogola89/Bio-Inspired-AI-Algorithms/blob/main/Bio_inspired_Artificial_Intelligence_Algorithms_Genetic_Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bio-inspired Artificial Intelligence Algorithms - Genetic Algorithms

# Representation of the problem - fligth schedule

In [1]:
import time
import random
import math
import sys

In [2]:
people = [('Lisbon', 'LIS'),
          ('Madrid', 'MAD'),
          ('Paris', 'CDG'),
          ('Dublin', 'DUB'),
          ('Brussels', 'BRU'),
          ('London', 'LHR')]

In [3]:
people[4]

('Brussels', 'BRU')

In [4]:
destiny = 'FCO' # Rome

In [5]:
flights = {('BRU', 'FCO'): ['15:44', '18:55', 382]}

In [6]:
flights

{('BRU', 'FCO'): ['15:44', '18:55', 382]}

In [7]:
flights[('BRU', 'FCO')]

['15:44', '18:55', 382]

In [8]:
flights[('BRU', 'FCO')][0], flights[('BRU', 'FCO')][1], flights[('BRU', 'FCO')][2]

('15:44', '18:55', 382)

In [9]:
flights = {}
for row in open('/content/flights.txt'):
  #print(row)
  #print(row.split(','))
  origin, destiny, departure, arrival, price = row.split(',')
  #print(origin, destiny, departure, arrival, price)
  flights.setdefault((origin, destiny), [])
  flights[(origin, destiny)].append((departure, arrival, int(price)))

FileNotFoundError: ignored

In [ ]:
flights

{('BRU', 'FCO'): [('6:12', '10:22', 230),
  ('7:53', '11:37', 433),
  ('9:08', '12:12', 364),
  ('10:30', '14:57', 290),
  ('12:19', '15:25', 342),
  ('13:54', '18:02', 294),
  ('15:44', '18:55', 382),
  ('16:52', '20:48', 448),
  ('18:26', '21:29', 464),
  ('20:07', '23:27', 473)],
 ('CDG', 'FCO'): [('6:25', '9:30', 335),
  ('7:34', '9:40', 324),
  ('9:15', '12:29', 225),
  ('11:28', '14:40', 248),
  ('12:05', '15:30', 330),
  ('14:01', '17:24', 338),
  ('15:34', '18:11', 326),
  ('17:07', '20:04', 291),
  ('18:23', '21:35', 134),
  ('19:53', '22:21', 173)],
 ('DUB', 'FCO'): [('6:17', '8:26', 89),
  ('8:04', '10:11', 95),
  ('9:45', '11:50', 172),
  ('11:16', '13:29', 83),
  ('12:34', '15:02', 109),
  ('13:40', '15:37', 138),
  ('15:27', '17:18', 151),
  ('17:11', '18:30', 108),
  ('18:34', '19:36', 136),
  ('20:17', '22:22', 102)],
 ('FCO', 'BRU'): [('6:09', '9:49', 414),
  ('7:57', '11:15', 347),
  ('9:49', '13:51', 229),
  ('10:51', '14:16', 256),
  ('12:20', '16:34', 500),
  ('14:20', '17:32', 332),
  ('15:49', '20:10', 497),
  ('17:14', '20:59', 277),
  ('18:44', '22:42', 351),
  ('19:57', '23:15', 512)],
 ('FCO', 'CDG'): [('6:33', '9:14', 172),
  ('8:23', '11:07', 143),
  ('9:25', '12:46', 295),
  ('11:08', '14:38', 262),
  ('12:37', '15:05', 170),
  ('14:08', '16:09', 232),
  ('15:23', '18:49', 150),
  ('16:50', '19:26', 304),
  ('18:07', '21:30', 355),
  ('20:27', '23:42', 169)],
 ('FCO', 'DUB'): [('6:39', '8:09', 86),
  ('8:23', '10:28', 149),
  ('9:58', '11:18', 130),
  ('10:33', '12:03', 74),
  ('12:08', '14:05', 142),
  ('13:39', '15:30', 74),
  ('15:25', '16:58', 62),
  ('17:03', '18:03', 103),
  ('18:24', '20:49', 124),
  ('19:58', '21:23', 142)],
 ('FCO', 'LHR'): [('6:58', '9:01', 238),
  ('8:19', '11:16', 122),
  ('9:58', '12:56', 249),
  ('10:32', '13:16', 139),
  ('12:01', '13:41', 267),
  ('13:37', '15:33', 142),
  ('15:50', '18:45', 243),
  ('16:33', '18:15', 253),
  ('18:17', '21:04', 259),
  ('19:46', '21:45', 214)],
 ('FCO', 'LIS'): [('6:19', '8:13', 239),
  ('8:04', '10:59', 136),
  ('9:31', '11:43', 210),
  ('11:07', '13:24', 171),
  ('12:31', '14:02', 234),
  ('14:05', '15:47', 226),
  ('15:07', '17:21', 129),
  ('16:35', '18:56', 144),
  ('18:25', '20:34', 205),
  ('20:05', '21:44', 172)],
 ('FCO', 'MAD'): [('6:03', '8:43', 219),
  ('7:50', '10:08', 164),
  ('9:11', '10:42', 172),
  ('10:33', '13:11', 132),
  ('12:08', '14:47', 231),
  ('14:19', '17:09', 190),
  ('15:04', '17:23', 189),
  ('17:06', '20:00', 95),
  ('18:33', '20:22', 143),
  ('19:32', '21:25', 160)],
 ('LHR', 'FCO'): [('6:08', '8:06', 224),
  ('8:27', '10:45', 139),
  ('9:15', '12:14', 247),
  ('10:53', '13:36', 189),
  ('12:08', '14:59', 149),
  ('13:40', '15:38', 137),
  ('15:23', '17:25', 232),
  ('17:08', '19:08', 262),
  ('18:35', '20:28', 204),
  ('20:30', '23:11', 114)],
 ('LIS', 'FCO'): [('6:11', '8:31', 249),
  ('7:39', '10:24', 219),
  ('9:15', '12:03', 99),
  ('11:08', '13:07', 175),
  ('12:18', '14:56', 172),
  ('13:37', '15:08', 250),
  ('15:03', '16:42', 135),
  ('16:51', '19:09', 147),
  ('18:12', '20:17', 242),
  ('20:05', '22:06', 261)],
 ('MAD', 'FCO'): [('6:05', '8:32', 174),
  ('8:25', '10:34', 157),
  ('9:42', '11:32', 169),
  ('11:01', '12:39', 260),
  ('12:44', '14:17', 134),
  ('14:22', '16:32', 126),
  ('15:58', '18:40', 173),
  ('16:43', '19:00', 246),
  ('18:48', '21:45', 246),
  ('19:50', '22:24', 269)]}

In [ ]:
flights[('LIS', 'FCO')]

[('6:11', '8:31', 249),
 ('7:39', '10:24', 219),
 ('9:15', '12:03', 99),
 ('11:08', '13:07', 175),
 ('12:18', '14:56', 172),
 ('13:37', '15:08', 250),
 ('15:03', '16:42', 135),
 ('16:51', '19:09', 147),
 ('18:12', '20:17', 242),
 ('20:05', '22:06', 261)]

In [ ]:
flights[('FCO', 'LIS')]

[('6:19', '8:13', 239),
 ('8:04', '10:59', 136),
 ('9:31', '11:43', 210),
 ('11:07', '13:24', 171),
 ('12:31', '14:02', 234),
 ('14:05', '15:47', 226),
 ('15:07', '17:21', 129),
 ('16:35', '18:56', 144),
 ('18:25', '20:34', 205),
 ('20:05', '21:44', 172)]

In [ ]:
flights[('MAD', 'FCO')]

[('6:05', '8:32', 174),
 ('8:25', '10:34', 157),
 ('9:42', '11:32', 169),
 ('11:01', '12:39', 260),
 ('12:44', '14:17', 134),
 ('14:22', '16:32', 126),
 ('15:58', '18:40', 173),
 ('16:43', '19:00', 246),
 ('18:48', '21:45', 246),
 ('19:50', '22:24', 269)]

In [ ]:
flights[('FCO', 'MAD')]

[('6:03', '8:43', 219),
 ('7:50', '10:08', 164),
 ('9:11', '10:42', 172),
 ('10:33', '13:11', 132),
 ('12:08', '14:47', 231),
 ('14:19', '17:09', 190),
 ('15:04', '17:23', 189),
 ('17:06', '20:00', 95),
 ('18:33', '20:22', 143),
 ('19:32', '21:25', 160)]

In [ ]:
# [1,4, 3,2, 7,3, 6,3, 2,4, 5,3]

In [ ]:
len([1,4, 3,2, 7,3, 6,3, 2,4, 5,3]) // 2

6

In [ ]:
people

[('Lisbon', 'LIS'),
 ('Madrid', 'MAD'),
 ('Paris', 'CDG'),
 ('Dublin', 'DUB'),
 ('Brussels', 'BRU'),
 ('London', 'LHR')]

In [ ]:
def print_schedule(schedule):
  flight_id = -1
  total_price = 0
  for i in range(len(schedule) // 2):
    name = people[i][0]
    #print(name)
    origin = people[i][1]
    #print(origin)
    flight_id += 1
    going = flights[(origin, destiny)][schedule[flight_id]]
    #print('First flight' + str(going))
    total_price += going[2]
    flight_id += 1
    returning = flights[(destiny, origin)][schedule[flight_id]]
    #print('Returning flight' + str(returning))
    total_price += returning[2]
    print('%10s%10s %5s-%5s U$%3s %5s-%5s U$%3s' % (name, origin, going[0], going[1], going[2],
                                                    returning[0], returning[1], returning[2]))
  print('Total price: ', total_price)

In [ ]:
print_schedule([7,3, 3,2, 7,3, 6,3, 2,4, 5,9])

    Lisbon       LIS 16:51-19:09 U$147 11:07-13:24 U$171
    Madrid       MAD 11:01-12:39 U$260  9:11-10:42 U$172
     Paris       CDG 17:07-20:04 U$291 11:08-14:38 U$262
    Dublin       DUB 15:27-17:18 U$151 10:33-12:03 U$ 74
  Brussels       BRU  9:08-12:12 U$364 12:20-16:34 U$500
    London       LHR 13:40-15:38 U$137 19:46-21:45 U$214
Total price:  2743

In [ ]:
t = time.strptime('7:39', '%H:%M')

In [ ]:
t

time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=7, tm_min=39, tm_sec=0, tm_wday=0, tm_yday=1, tm_isdst=-1)

In [ ]:
t[3], t[4], t[3] * 60 + t[4]

(7, 39, 459)

In [ ]:
def get_minutes(hour):
  t = time.strptime(hour, '%H:%M')
  minutes = t[3] * 60 + t[4]
  return minutes

In [ ]:
get_minutes('7:39'), get_minutes('10:32'), get_minutes('08:10')

(459, 632, 490)

# Fitness function

In [ ]:
get_minutes('23:59')

1439

In [ ]:
get_minutes('00:00')

0

In [ ]:
def fitness_function(schedule):
  total_price = 0
  last_arrival = 0
  first_departure = 1439

  flight_id = -1
  for i in range(len(schedule) // 2):
    origin = people[i][1]
    flight_id += 1
    going = flights[(origin, destiny)][schedule[flight_id]]
    flight_id += 1
    returning = flights[(destiny, origin)][schedule[flight_id]]

    total_price += going[2]
    total_price += returning[2]

    if last_arrival < get_minutes(going[1]):
      last_arrival = get_minutes(going[1])
    if first_departure > get_minutes(returning[0]):
      first_departure = get_minutes(returning[0])

  #print(total_price)
  #print(last_arrival)
  #print(first_departure)

  total_wait = 0
  flight_id = -1
  for i in range(len(schedule) // 2):
    origin = people[i][1]
    flight_id += 1
    going = flights[(origin, destiny)][schedule[flight_id]]
    flight_id += 1
    returning = flights[(destiny, origin)][schedule[flight_id]]

    total_wait += last_arrival - get_minutes(going[1])
    total_wait += get_minutes(returning[0]) - first_departure

  return total_wait + total_price

In [ ]:
fitness_function([1,4, 3,1, 8,3, 6,3, 2,4, 5,3])

6096

In [ ]:
get_minutes('21:35')

1295

In [ ]:
get_minutes('7:50')

470

In [ ]:
print_schedule([1,4, 3,1, 8,3, 6,3, 2,4, 5,3])

    Lisbon       LIS  7:39-10:24 U$219 12:31-14:02 U$234
    Madrid       MAD 11:01-12:39 U$260  7:50-10:08 U$164
     Paris       CDG 18:23-21:35 U$134 11:08-14:38 U$262
    Dublin       DUB 15:27-17:18 U$151 10:33-12:03 U$ 74
  Brussels       BRU  9:08-12:12 U$364 12:20-16:34 U$500
    London       LHR 13:40-15:38 U$137 10:32-13:16 U$139
Total price:  2638

In [ ]:
len(people)

6

In [ ]:
domain = [(0, 9)] * (len(people) * 2)
domain

[(0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9)]

# Mutation

In [ ]:
len(domain) - 1

11

In [ ]:
random.randint(0, len(domain) - 1)

2

In [ ]:
random.random() # 50%

0.8053439742469244

In [ ]:
def mutation(domain, schedule, prob):
  gene = random.randint(0, len(domain) - 1)
  #print(gene)
  mutant = schedule
  if random.random() < prob: # 0.02, 0.05
    if schedule[gene] != domain[gene][0]:
      mutant = schedule[0:gene] + [schedule[gene] - 1] + schedule[gene + 1:]
    else:
      if schedule[gene] != domain[gene][1]:
        mutant = schedule[0:gene] + [schedule[gene] + 1] + schedule[gene + 1:]
  return mutant

In [ ]:
mutation(domain, [6, 7, 6, 7, 3, 9, 7, 7, 0, 7, 6, 7], 0.9)

[6, 6, 6, 7, 3, 9, 7, 7, 0, 7, 6, 7]

# Crossover

In [ ]:
# [6, 7, 6, 7, 3, 9, 7, 7, 0, 7, 6, 7]

In [ ]:
random.randint(1, len(domain) - 2)

9

In [ ]:
def crossover(domain, individual1, individual2):
  gene = random.randint(1, len(domain) - 2)
  #print(gene)
  return individual1[0:gene] + individual2[gene:]

In [ ]:
s1 = [1,4, 3,2, 7,3, 6,3, 2,4, 5,3]
s2 = [0,1, 2,5, 8,9, 2,3, 5,1, 0,6]

In [ ]:
crossover(domain, s1, s2)

4

[1, 4, 3, 2, 8, 9, 2, 3, 5, 1, 0, 6]

# Genetic algorithm

In [ ]:
domain

[(0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9),
 (0, 9)]

In [ ]:
def genetic_algorithm(domain, fitness_function, population_size = 100, elitism = 0.2,
                      number_of_generations = 500, mutation_probability = 0.05):
  population = []
  for i in range(population_size):
    individual = [random.randint(domain[i][0], domain[i][1]) for i in range(len(domain))]
    population.append(individual)
  #print('Population size', len(population))
  #print(len(population))
  number_elitism = int(elitism * population_size)
  #print(number_elitism)

  for i in range(number_of_generations):
    costs = [(fitness_function(individual), individual) for individual in population]
    #print(costs)
    costs.sort()
    #print(costs)
    ordered_individuals = [individual for (cost, individual) in costs]
    #print(ordered_individuals)
    population = ordered_individuals[0:number_elitism]
    while len(population) < population_size:
      i1 = random.randint(0, number_elitism)
      i2 = random.randint(0, number_elitism)
      #print(i1, i2, ordered_individuals[i1], ordered_individuals[i2])
      new_individual = crossover(domain, ordered_individuals[i1], ordered_individuals[i2])
      #print(new_individual)
      new_individual_mutation = mutation(domain, new_individual, mutation_probability)
      #print(new_individual_mutation)
      population.append(new_individual_mutation)
  
  #print('Population size', len(population))
  #print(costs)
  return costs[0][1]

In [ ]:
solution = genetic_algorithm(domain, fitness_function, 100, 0.2, 100, 0.05)

In [ ]:
solution

[2, 1, 4, 1, 3, 1, 3, 1, 3, 1, 4, 1]

In [ ]:
fitness_function(solution)

2509

In [ ]:
print_schedule(solution)

    Lisbon       LIS  9:15-12:03 U$ 99  8:04-10:59 U$136
    Madrid       MAD 12:44-14:17 U$134  7:50-10:08 U$164
     Paris       CDG 11:28-14:40 U$248  8:23-11:07 U$143
    Dublin       DUB 11:16-13:29 U$ 83  8:23-10:28 U$149
  Brussels       BRU 10:30-14:57 U$290  7:57-11:15 U$347
    London       LHR 12:08-14:59 U$149  8:19-11:16 U$122
Total price:  2064